/* reset */

ul,li{
  list-style: none;
}

/* common */

body{
  background: #eae9e8;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.flexbox{
  display: flex;
}

@media (max-width: 764px){
  .flexbox{
    flex-direction: column;
  }
}

.text-center{
  text-align: center;
}

.sp-only{
  display: none;
}

@media (max-width:764px){
  .pc-only{
    display: none;
  }
  .sp-only{
    display: block;
  }
}

/* layout */

header{
  background: #fff;
  padding: 20px 0;
}

header > .flexbox{
  justify-content: space-between;
  align-items: center;
}

header h1{
  margin: 0;
  height: 40px;
}

header nav li{
  height: 32px;
  margin-left: 10px;
}

@media (max-width:1200px){
  header{
    padding: 20px 10px;
  }
  header h1{
    height: 25px;
  }
  header img{
    width: auto;
    height: 25px;
    vertical-align: top;
  }
  header > .flexbox{
    flex-direction: row;
  }
}

.global-nav{
  background: #bc1f29;
}

.sp-menu{
  display: none;
}

@media (min-width:768px){
  .sp-menu{
    display: none !important;
  }
}

.sp-menu li a{
  display: block;
  background: #bc1f29;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px #8c1717;
  padding: 1rem;
  transition: 300ms;
}

.sp-menu li a:hover{
  background: #8c1717;
}

.sp-menu-social{
  text-align: center;
  background: #bc1f29;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.sp-menu-social a{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #8c1717;
  background: #8c1717;
  padding: 1px;
  margin: 0 10px;
  transition: 300ms;
}

.sp-menu-social a:hover{
  transform: scale(1.2);
}

.sp-menu-social a img{
  width: 28px;
  height: auto;
}

main .container{
  background: #fff;
  padding-bottom: 4rem;
}

main article{
  padding: 2rem;
}

.kv img{
  max-width: 100%;
}

footer .container{
  background: #fff;
  text-align: center;
  padding: 1rem 0;
  border-top: solid 1px #eee;
}


/* components */

.global-nav a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
}

.global-nav a:hover{
    background: #8c1717;
}

.sub-nav a{
  display: block;
  width: 32px;
  height: 32px;
  background: #bc1f29;
}

.sub-nav a:hover{
  background: #8c1717;
}

main h2{
  font-family: serif;
  text-align: center;
  color: #8c1717;
  margin-bottom: 2rem;
}

.table{
  max-width: 800px;
  margin: auto;
}

.table dt{
  font-weight: bold;
}

.table dt{
  margin-bottom: 5px;
}

.table dd{
  margin-bottom: 10px;
}

.table a{
  color: #bc1f29;
}

.table a:hover{
  color: #8c1717;
}

.card{
  flex: 1;
  margin: 10px;
  border: solid 1px #eee;
  border-radius: 3px;
  overflow: hidden;
}

.card-img-top{
  width: 100%;
}

.card-title{
  margin: 1rem;
}

.card-text{
  margin: 0 1rem 1rem;
}

.card-group{
  display: flex;
  margin: -10px;
}

@media (max-width: 764px){
  .card-group{
    flex-direction: column;
  }
}

.btn{
  color: #fff;
  text-decoration: none;
  background: #bc1f29;
  display: inline-block;
  padding: 10px 14px;
  border-radius: 3px;
  margin: 2rem;
}

.btn:hover{
  background: #8c1717;
}

@media (max-width: 764px){
  iframe{
    width: 100%;
    margin-bottom: 1rem;
  }
}

.menu-btn{
  width: 25px;
  height: 20px;
  border-width: 2px 0 2px;
  border-color: #bc1f29;
  border-style: solid;
  position: relative;
  margin-right: 4px;
}

.menu-btn.open{
  border-color: #fff;
}

.menu-btn::before,
.menu-btn::after{
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 7px;
  background: #bc1f29;
  transition: 300ms;
}

.menu-btn.open::before{
  transform: rotate(-45deg);
}

.menu-btn.open::after{
  transform: rotate(45deg);
}